@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

:root {
  --dark1: #21201e;
  --dark2: #2d2b29;
  --dark3: #43110d;
  --brand: #f1be3e;
  --white: #ffffff;
  --gray: #c9ced6;
  --body: #9b968b;
}

body {
  color: var(--body);
  font-family: "Rubik", sans-serif;
  background-color: var(--dark1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #ffffff;
}

a {
  transition: 0.4s ease;
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--brand);
}

img {
  width: 100%;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* Navbar */
.navbar {
  background-color: var(--dark1);
}
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--brand);
}
.navbar .nav-link {
  color: var(--body);
  font-size: 13px;
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--white);
}

/* about */
#about {
  min-height: 50vh;
  display: flex;
  align-items: center;
}
#about h1 {
  font-weight: 600;
}
#about .person-is span {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  color: var(--white);
  margin-right: 8px;
  text-transform: uppercase;
}
#about img {
    border: 8px solid var(--brand);
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: fill;
}

.person-img {
  position: relative;
  z-index: 2;
}

.ellipse-top {
  width: 70%;
  height: 70%;
  background: linear-gradient(180deg, #4d4a45 0%, #292824 100%);
  position: absolute;
  top: -10%;
  right: 0%;
  border-radius: 1000px;
  z-index: -1;
}

.ellipse-bottom {
  width: 40%;
  height: 40%;
  background: linear-gradient(180deg, #4d4a45 0%, #292824 100%);
  position: absolute;
  bottom: -5%;
  left: 0%;
  border-radius: 1000px;
  z-index: -1;
}

/* BTN */
.btn {
  padding: 13px 17px;
}
.btn-brand {
  background-color: var(--brand);
  border-color: var(--brand);
}

/* INTRO */
.intro {
  margin-bottom: 40px;
}
.intro p {
  max-width: 500px;
}
.text-brand {
  color: var(--brand);
}

/* services */
.service {
  background-color: var(--dark2);
  padding: 28px;
  display: flex;
  border-radius: 8px;
}

.iconbox {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background-color: var(--dark1);
  margin-right: 18px;
  border-radius: 8px;
}

.service img {
  height: 46px;
}
/* DIVIDER */
.divider {
  border: 1px solid var(--white);
  opacity: 0.1;
}

/* MY WORK */
.portfolio-item {
  position: relative;
}

.portfolio-item .iconbox {
  background-color: var(--brand);
  border-radius: 1000px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s ease;
}

.portfolio-item .iconbox img {
  height: 28px;
}
.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%;
}
.portfolio-item img {
  height: 300px;
  border-radius: 10px;
}

/* MODAL */
.modal h2 {
  color: var(--dark1);
}

form .form-control{
    background-color: transparent;
    border-color:rgba(255,255,255,0.2);
    color: var(--white);
}

form .form-control:focus{
    box-shadow: none;
    border-color: var(--brand);
    background-color: rgba(255,255,255,0.1);
    color: var(--white);
}

/* footer */
footer{
    background-color: var(--dark2);
}
